@model Doctor

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/doctor", "Doctors"), ("","Details") })>

    <h3 class="mt=4 mb-4">Doctor Details</h3>

    <!-- Description list of doctor details -->
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.User.Name</dd>

        <dt class="col-sm-3">Speciality</dt>
        <dd class="col-sm-9">@Model.Speciality</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.User.Email</dd>

        <dt class="col-sm-3">Mobile</dt>
        <dd class="col-sm-9">@Model.Mobile</dd>

    </dl>

    <div class="mt-4 mb-4">
        <!-- add link to redirect to Index action -->
        <a asp-action="DoctorEdit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        <a asp-action="DoctorIndex" class="btn btn-primary">Back to Index</a>
    </div>
